APP_HOST=localhost
APP_PORT=8000
MAX_AGE=604800
REDIS_URL=redis://username:password@server
SESSION_SECRET_KEY=supersecret
# For Postgres
DATABASE_URL=postgres://username:password@server/db_name
# For SQLite
DATABASE_URL=file://path/to/database/file.db